[Unit]
Description=Hook of the Reaper Light Gun Service
After=network.target

[Service]
Type=simple
User=%i
ExecStart=~/.local/bin --no-ui
WorkingDirectory=~/.config/hookofthereaper
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target